<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/build/basiccomponents.esm.js"></script>
    <script nomodule src="/build/basiccomponents.js"></script>
    <title>Card</title>
</head>
<body>
    <h1>card</h1>

    <idean-card>
        <p name="titulo1">hola</p>
        <p name="titulo2">mundo</p>

        <idean-button type="text">More</idean-button>
    </idean-card>
</body>
</html>