@import "../../variables";

.card {
  box-sizing: border-box;
  box-shadow: rgb(226 226 226) 0px 2px 3px;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: fit-content;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;


}

.card-image img {
  max-width: 100%;
  width: 100%;
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.3);
  }

}

.title1 {
  font-family: sans-serif;
  color: $grey-400;
  display: block;
  padding: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.title2 {
  font-size: 24px;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding: 16px;
}

.button-container {
  box-sizing: border-box;
  padding: 0px 16px;
  display: flex;
  justify-content: flex-end;
}
