
$london70: var(--idean-color-london70, #942F2C);
$london50: var(--idean-color-london50, #DD4747);
$london30: var(--idean-color-london30, #FE908C);

$grey100: var(--idean-color-bergen100, #191A18);
$grey70: var(--idean-color-bergen70, #535756);
$grey30: var(--idean-color-bergen30, #ADB3B3);
$grey-400: var(--idean-grey-400, #C6CDCC);
$grey100: var(--idean-color-bergen100, #191A18);

$london-primary: var(--idean-color-london-primary, #2FEC9B);

$text-button: var(--idean-color-text-color, #ffff);

$size-s: var(--idean-size-s, 16px);
$size-xs: var(--idean-size-xs, calc($size-s/2));
$size-m: var(--idean-size-s, calc($size-s*2));
$size-l: var(--idean-size-s, calc($size-s*3));